<% if (post.comments) { %>
<section id="comments">
    <% if (theme.comment.disqus) { %>
    <%- partial('comment/disqus') %>
    <% } else if (theme.comment.valine) { %>
    <%- partial('comment/valine') %>
    <% } else if (theme.comment.youyan) { %>
    <%- partial('comment/youyan') %>
    <% } %>
</section>
<% } %>